/* Styles for table of contents */

.table-of-content {
    display: block;
    border-left: 3px solid #3baeda;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: .95em;
    min-width: 200px;
    float: left;
    margin: 0;
    margin-left: 0;
    line-height: 1em;
    width: 100%;
}

.table-of-content p {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 18px;
    color: #3baeda;
}

.table-of-content ul > li {
    margin-bottom: 10px;
    list-style-type: none;
}

.table-of-content  a {
    color: #151515;
    text-decoration: none;
}

.table-of-content a.h3-header {
    margin-left: 25px;
    color: #151515;
    text-decoration: none;
}

.table-of-content a:hover {
    color: #3baeda;
    text-decoration: none;
}
